{{!< default}}

{{#post}}
<main class="article">
    <div class="container">
        {{#if @page.show_title_and_feature_image}}
            <header class="article-header">
                <h1 class="page-title">{{title}}</h1>
            </header>

            {{#if feature_image}}
                <figure class="article-feature-image">
                    <img
                        srcset="{{img_url feature_image size="s"}} 300w,
                                {{img_url feature_image size="m"}} 600w,
                                {{img_url feature_image size="l"}} 1000w"
                        sizes="(max-width: 680px) calc(100vw - 2.5rem), 680px"
                        src="{{img_url feature_image size="l"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                    >
                    {{#if feature_image_caption}}
                        <figcaption>{{feature_image_caption}}</figcaption>
                    {{/if}}
                </figure>
            {{/if}}
        {{/if}}

        <section class="article-content">
            {{content}}
        </section>
    </div>
</main>
{{/post}}
