{{!< default}}

{{#post}}
<main class="article">
    <div class="container">
        <header class="article-header">
            {{#primary_tag}}
                <div class="article-section-tag">
                    <a href="{{url}}">{{name}}</a>
                </div>
            {{/primary_tag}}

            <h1 class="article-title">{{title}}</h1>

            <div class="article-meta">
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM D, YYYY"}}</time>
                {{#if reading_time}}
                    <span>&middot;</span>
                    <span>{{reading_time minute="1 min read" minutes="% min read"}}</span>
                {{/if}}
            </div>
        </header>

        <section class="article-content">
            {{content}}
        </section>

        {{#if tags}}
            <div class="article-tags">
                {{tags separator=", " autolink="true"}}
            </div>
        {{/if}}

        <nav class="post-nav">
            {{#prev_post}}
                <div class="post-nav-item">
                    <span class="post-nav-label">prev</span>
                    <a class="post-nav-title" href="{{url}}">{{title}}</a>
                </div>
            {{else}}
                <div class="post-nav-item"></div>
            {{/prev_post}}
            {{#next_post}}
                <div class="post-nav-item">
                    <span class="post-nav-label">next</span>
                    <a class="post-nav-title" href="{{url}}">{{title}}</a>
                </div>
            {{else}}
                <div class="post-nav-item"></div>
            {{/next_post}}
        </nav>
    </div>
</main>
{{/post}}
