{{!< default}}

{{#post}}
<main class="article">
    <div class="container">
        <header class="article-header">
            {{#primary_tag}}
                <div class="article-section-tag">
                    <a href="{{url}}">{{name}}</a>
                </div>
            {{/primary_tag}}

            <h1 class="article-title">{{title}}</h1>

            <div class="article-meta">
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM D, YYYY"}}</time>
                {{#if reading_time}}
                    <span>&middot;</span>
                    <span>{{reading_time minute="1 min read" minutes="% min read"}}</span>
                {{/if}}
            </div>
        </header>

        {{#if feature_image}}
            <figure class="article-feature-image">
                <img
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w"
                    sizes="(max-width: 680px) calc(100vw - 2.5rem), 680px"
                    src="{{img_url feature_image size="l"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                >
                {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
        {{/if}}

        <section class="article-content">
            {{content}}
        </section>

        {{#if tags}}
            <div class="article-tags">
                {{#foreach tags}}
                    <a href="{{url}}">{{name}}</a>
                {{/foreach}}
            </div>
        {{/if}}

        <nav class="post-nav">
            {{#prev_post}}
                <div class="post-nav-item">
                    <span class="post-nav-label">Previous</span>
                    <a class="post-nav-title" href="{{url}}">{{title}}</a>
                </div>
            {{else}}
                <div class="post-nav-item"></div>
            {{/prev_post}}
            {{#next_post}}
                <div class="post-nav-item">
                    <span class="post-nav-label">Next</span>
                    <a class="post-nav-title" href="{{url}}">{{title}}</a>
                </div>
            {{else}}
                <div class="post-nav-item"></div>
            {{/next_post}}
        </nav>
    </div>
</main>
{{/post}}
