<article class="post-card">
    <a class="post-card-link" href="{{url}}">
        <div class="post-card-meta">
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY-MM-DD"}}</time>
            {{#primary_tag}}
                <span class="post-card-meta-sep">/</span>
                <span class="post-card-tag">{{name}}</span>
            {{/primary_tag}}
        </div>
        <h2 class="post-card-title">{{title}}</h2>
        {{#if custom_excerpt}}
            <p class="post-card-excerpt">{{custom_excerpt}}</p>
        {{else if excerpt}}
            <p class="post-card-excerpt">{{excerpt words="20"}}</p>
        {{/if}}
    </a>
</article>
